body {
    margin: 0px;
    padding: 0px;
    background-color: #fccb93;
}

.ref {
    font-size: 18px;
}

.his {
    text-align: center;
    grid-template-rows: repeat(1, 1fr);
}

.img {
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    text-align: justify;
    line-height: 40px;
}

h1 {
    text-transform: uppercase;
}

.indt {
    text-indent: 10%;
    display: flex;
    font-size: 25px;
    margin: 07px;
    grid-template-rows: repeat(2, 1fr);
    padding: 05px;
}

.butao {
    background-color: #4becc9;
    color: black;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: black 2px solid;
}