body{
    margin:0px;
    padding:0px;
    background-color:#fccb93 ;
}
.topoini{
    width: 100vw;
    height: 35vh;
    background-color: rgba(243, 239, 18, 0.973);
    margin: 0.5% 0 0.5% 0;
}
.im1{
    width: 33vw;
    height: 60vh;
    margin-left: 0.2%;
}
.im2{
    width: 31vw;
    height: 60vh;
}
.im3{
    width: 34vw;
    height: 60vh;
    margin-right: -0.1%;
}

.topocent{
    width: 100vw;
    height: 60vh;
    background-color: rgba(18, 78, 243, 0.973);
    margin: 0.5% 0 0.5% 0;
}

.tabelaini{
    width:100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:#ffff;
    padding-top: 7px;
}

.cm{
    text-align: center;
}
.img{
    width: 29vw;
    height: 33.5vh;
    margin-top: -65px;
}
.butao{
    background-color: #a7f3e2;
    color: black;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: black 1px solid;
    
}
.dropdown{
}
.menu1-lista1{
    display:none;
    margin-top: 05px;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu1-lista1 a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
.menu1-lista1 a:hover{
    background-color:#e22c2c;
    color:#ffff;
    font-size: 22px;
}

.dropdown:hover .menu1-lista1{
    display:block;
}
.dropdown{
}
.menu1-lista2{
    display:none;
    margin-top: 05px;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu1-lista2 a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
.menu1-lista2 a:hover{
    background-color:#e22c2c;
    color:#ffff;
    font-size: 22px;
}
.dropdown:hover .menu1-lista2{
    display:block;
    right: 35%;
}
.dropdown{
}
.menu1-lista3{
    display:none;
    margin-top: 05px;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu1-lista3 a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
.menu1-lista3 a:hover{
    background-color:#e22c2c;
    color:#ffff;
    font-size: 22px;
}
.dropdown:hover .menu1-lista3{
    display:block;
    right: 15%;
}
.dropdown{
}


.menu1-lista4{
    display:none;
    margin-top: 05px;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu1-lista4 a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
.menu1-lista4 a:hover{
    background-color:#e22c2c;
    color:#ffff;
    font-size: 22px;
}
.dropdown:hover .menu1-lista4{
    display:block;
    right: 15%;
}
.dropdown{
}




.menu1{
    margin-left: 2px;
    background-color:rgb(39, 224, 39);
    float:left;
    width:16%;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color:rgb(255, 8, 0);
    font-weight: bold;
    margin-top: -30px;
}
.menu1:hover{
    border-top-style: solid;
}
